{
  parser: "babel-eslint",
  plugins: [
    "jsx-a11y"
  ],
  "extends": ["airbnb", "standard", "cleanjs"],
  "rules": {
    "react/jsx-filename-extension": ["off"],
    "no-console": ["error"],
    "fp/no-mutation": ["error", {
      "exceptions": [
        {"property": "propTypes"},
        {"property": "defaultProps"},
        {"object": "window"}
      ]
    }],
    "no-underscore-dangle": ["error", {"allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"]}]
  }
}
